// :::  Basic settings
@import '@scss-utils/vars';
@import '@scss-utils/mixins';

.filter-checkbox {
	&__item {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		position: relative;

		&__content > {
			input {
				display: none;
			}

			label {
				display: flex;
				flex-flow: row;
				align-items: center;
				justify-content: start;
				font-weight: 300;
				cursor: pointer;

				&::before {
					content: '';
					display: block;
					width: 1.9rem;
					height: 1.9rem;
					border: 1px solid $checkbox-border-color;
					margin-right: 1.2rem;
				}
			}

			input:checked ~ label::before {
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('@images-filter/checked.svg');
			}
		}

		&__info {
			margin-left: 1rem;
		}

		&:not(:last-child) {
			margin-bottom: 1.2rem;
		}
	}

	&--dropdown & {
		&__item {
			flex-wrap: wrap;

			&__info {
				display: flex;
				flex-flow: row;
				height: 2.4rem;
				line-height: 2.4rem;

				-webkit-tap-highlight-color: transparent;

				&::after {
					content: '';
					width: .8rem;
					height: .8rem;
					display: block;
					margin: .8rem .8rem .8rem 1.6rem;
					position: relative;
					border-top: 1px solid $bg-main-color;
					border-right: 1px solid $bg-main-color;
					cursor: pointer;

					bottom: 3.5px;
					left: -2px;
					transform: rotate(135deg);
				}
			}

			&.dropdown-open {
				.filter-checkbox__item__info::after {
					top: 2px;
					bottom: auto;
					transform: rotate(-45deg);
				}

				.dropdown-list {
					display: block;
				}
			}
		}
	}

	&--first-type li input[type="checkbox"]:checked ~ label::before {
		background-color: $checkbox-filled-color-first;
	}

	&--second-type li input[type="checkbox"]:checked ~ label::before {
		background-color: $checkbox-filled-color-second;
		border-color: $checkbox-filled-color-second;
	}
}