// :::  Basic settings
@import '@scss-utils/vars';
@import '@scss-utils/mixins';

.slider {
	@include breakpoint-range($bp-mobile, $bp-tablet) {
		.slick-slide > div {
			justify-content: space-between;
			gap: auto;
		}

		&__item {
			&__image {
				width: 34.3rem;
			}
		}
	}

	@include breakpoint($bp-mobile) {
		.slick-slide > div {
			justify-content: center;
			padding: 1px;
		}

		&__item {
			&__image {
				width: 100%;
			}
		}

		&__controls {
			margin-top: 4rem;
		}
	}
}